:root {
    --dark-spring-green: rgb(13, 74, 49);
    --verde-oscuro: rgb(48, 112, 80);
    --baby-powder: rgb(21, 40, 19);
    --delete : rgb(211, 135, 20);
    --color-texto : rgb(255,255,255);
}
/* ------------------------------ */

/* ESTILOS GENERALES DE LA PÁGINA */
* {
    margin: 0;
    padding: 0;
    width: fit-content;
    box-sizing: border-box;
    color: var(--verde-oscuro);
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--verde-oscuro);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------ */

/* ESTILOS DEL HEADER */
.header {
    z-index: 1;
    width: 100%;
    background-color: var(--dark-spring-green);
    padding: 1em;
    justify-content: center;
   
}

.header div {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    color: var(--verde-oscuro);
}

.header h1 {
    font: 24px "Outfit", sans-serif;
    color: var(--color-texto);
    font-size: 24px;
}

.header img {
    width: 60px;
    display: flex;
    margin-right: 8px;
    
}
/* ------------------------------ */

/* ESTILOS DEL BODY */

.principal {
    width: 97%;
    background-color: var(--dark-spring-green);
    display: flex;
    margin: 2%;
    border-radius: 16px;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
}

.cards,
.registro {
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content:space-around;
    align-items: center;
}

main h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 24px 0px;

}

/*--------------------------------*/
/*estilos formulario*/



/* ------------------------------ */

/* ESTILOS DEL FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .5em;
    background-color: var(--dark-spring-green);
    display: flex;
    justify-content: center;
}

.footer div {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    gap: 5px;

}

.footer p {
    margin-top:4px;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    gap: 5px;

}

